<template name="header">
  <div class="navbar ">
  <div class="app-header">
    <div class="logo-wrapper">
      <div class="row">
        <div class="col-md-10">
          <h1>Awesome Meteor Boilerplate</h1>
        </div>

          {{> LoginMenu}}
      </div>
    </div>
  </div>
  </div>
  <HR>
</template>

<template name="LoginMenu">
  <ul class="nav navbar-nav navbar-right login">
  {{#if currentUser}}
        <li>
          <a class="item" href data-action="logout">
            <img class="avatar" src="https://avatars.githubusercontent.com/{{currentUser.profile.login}}"/> Logout
          </a>
        </li>
    {{else}}
      {{#if isLoginServicesConfigured}}
        <li>
          <a class="item" href data-action="login">
          Login with Github
        </a>
      </li>
        {{/if}}
    {{/if}}
      {{#if loggingIn}}
    {{/if}}

  </ul>
</template>
